<%= form_with url: "/drinks_without_alcohol", method: :get do |form|%>
	<%= form.label :query, "Filter by:" %>
	<%= form.search_field :filter_name %>
	<%= form.search_field :filter_category %>
	<%= form.number_field :filter_min_price, in: 0..5000 %>
	<%= form.number_field :filter_max_price, in: 0..5000 %>
	<%= form.number_field :filter_min_size, in: 0..5000 %>
	<%= form.number_field :filter_max_size, in: 0..5000 %>

	<%= form.submit "Filter" %>
<% end %>

<div class="content">
<% @product_list.each do |product| %>
	<article class="product">
		<%= image_tag(product.img_link, :class => "product_image", :alt => product.name) %>
        <div>
            <h2 class="product_name"><%= product.name %></h2>
            <h3 class="product_info"><%= product.category %></h3>
            <h3 class="product_info"><%= product.price %></h3>
            <h3 class="product_info"><%= product.size %></h3>
        </div>
    </article>
<% end %>