<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h6> Seleccione el producto a scrappear </h6>
        </a>
    </div>
</nav>

<%# <%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "scrap_buttons" %>

<div class='scrap-buttons-div'>
    <%= button_to "B. Sin alcohol", "/bebidas_sin_alcohol" %>
    <%= button_to "B. Con alcohol", "/bebidas_con_alcohol" %> 
    <%= button_to "Lacteos", "/lacteos" %> 
    <%= button_to "Golosinas", "/golosinas" %> 
    <%= button_to "Infusiones", "/infusiones" %>
</div>