<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h6> Seleccione el producto a scrappear </h6>
        </a>
    </div>
</nav>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "scrap_buttons" %>

<div class='scrap-buttons-div'>
    <ul>
        <li class="scrap_button"> <%= button_to "B. Sin alcohol", "/bebidas_sin_alcohol" %> </li>
        <li class="scrap_button"> <%= button_to "B. Con alcohol", "/bebidas_con_alcohol" %> </li>
        <li class="scrap_button"> <%= button_to "Lacteos", "/lacteos" %> </li>
        <li class="scrap_button"> <%= button_to "Golosinas", "/golosinas" %> </li>
        <li class="scrap_button"> <%= button_to "Infusiones", "/infusiones" %> </li>
    </ul>
</div>