<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h6> Seleccione el producto a scrappear </h6>
        </a>
    </div>
</nav>

<div class='scrap-buttons-div'>
    <ul>
        <li> <%= button_to "B. Sin alcohol", "/bebidas_sin_alcohol" %> </li>
        <li> <%= button_to "B. Con alcohol", "/bebidas_con_alcohol" %> </li>
        <li> <%= button_to "Lacteos", "/lacteos" %> </li>
        <li> <%= button_to "Golosinas", "/golosinas" %> </li>
        <li> <%= button_to "Infusiones", "/infusiones" %> </li>
    </ul>
</div>