<h1>Tienda COTO Scrapper</h1>

<h2>Seleccione el producto a scrappear</h2>

<div class='scrap-buttons-div'>
        <%= button_to "B. Sin alcohol", "/bebidas_sin_alcohol" %>
        <%= button_to "B. Con alcohol", "/bebidas_con_alcohol" %>
        <%= button_to "Lacteos", "/lacteos" %>
        <%= button_to "Golosinas", "/golosinas" %>
        <%= button_to "Infusiones", "/infusiones" %>
</div>