<%= form_with method: :get do |form| %>
	<%= form.label :query, "Filtros" %>
	<br>
	<%= form.label :query, "Nombre: " %>
	<%= form.search_field :name, :type=>"input" %>
	<br>
	<%= form.label :query, "Categoria: " %>
	<%= form.search_field :category %>
	<br>
	<%= form.label :query, "Precio minimo: " %>
	<%= form.number_field :min_price, in: 0..5000 %>
	<%= form.label :query, "Precio maximo: " %>
	<%= form.number_field :max_price, in: 0..5000 %>
	<br>
	<%= form.label :query, "Tamaño minimo: " %>
	<%= form.number_field :min_size, in: 0..5000 %>
	<%= form.label :query, "Tamaño maximo: " %>
	<%= form.number_field :max_size, in: 0..5000 %>
	<br>
	<%= form.submit "Filtrar" %>
<% end %>

<div class="content">
<% @product_list.each do |product| %>
	<article class="product">
		<%= image_tag(product.img_link, :class => "product_image", :alt => product.name) %>
        <div>
            <h3 class="product_name"><%= product.name %></h3>
            <h5 class="product_info"><%= product.category %></h5>
            <h5 class="product_info">Precio: $<%= product.price %></h5>
            <h5 class="product_info">Tamaño: <%= product.size %></h5>
        </div>
    </article>
<% end %>