<%= stylesheet_link_tag "style.css", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "products.css", "data-turbo-track": "reload" %>

<div class="filters">
<%= form_with method: :get do |form| %>
	<%= form.label :query, "Filtros" %>
	<br>
	<%= form.label :query, "Nombre: " %>
	<%= form.search_field :name, :type=>"input" %>
	<br>
	<%= form.label :query, "Categoria: " %>
	<%= form.search_field :category %>
	<br>
	<%= form.label :query, "Precio minimo: " %>
	<%= form.number_field :min_price, in: 0..5000 %>
	<%= form.label :query, "Precio maximo: " %>
	<%= form.number_field :max_price, in: 0..5000 %>
	<br>
	<%= form.label :query, "Tamaño minimo: " %>
	<%= form.number_field :min_size, in: 0..5000 %>
	<%= form.label :query, "Tamaño maximo: " %>
	<%= form.number_field :max_size, in: 0..5000 %>
	<br>
	<%= form.submit "Filtrar" %>
<% end %>
</div>

<div> <%= button_to "⭐ Starred Products ⭐", "/stars/index", method: :get %> </div>

<div class="content">
<% @product_list.each do |product| %>
	<article class="product">
		<%= image_tag(product.img_link, :class => "product_image", :alt => product.name) %>
        <div>
            <h4 class="product_name"><b><%= product.name %></b></h4>
            <h5 class="product_info"><%= product.category %></h5> 
			<div class="favorite_button"> <%= button_to "⭐", "/#{params[:section_name]}/#{product.plu}/#{product.category}", method: :get %></div>
			<div class="like_button"> <%= button_to "❤️", "/#{params[:section_name]}/#{product.plu}/#{product.category}"%> </div>
			<span class="like_counter"> <%= product.likes %> </span>
            <h6 class="product_info">Precio: $<%= product.price %></h6>
            <h6 class="product_info">Tamaño: <%= product.size %></h6>
			<h6 class="product_info">PLU: <%= product.plu %></h6>
			<%= button_to "Review", "/reviews/index/#{product.plu}", method: :get%>
        </div>
    </article>
<% end %>